<div class="mt-4" [formGroup]="checkoutForm">
    <div class="row" formGroupName="deliveryForm">
        <ng-container *ngIf="deliveryMethod">
            <div class="col-6 form-group"*ngFor="let method of deliveryMethod">
               <input type="radio" 
               id="{{ method.id }}" 
               value="{{ method.id}}"
               formGroupName="deliveryMethod"
               class="custom-control-input">
               <label for="{{ method.id }}" class="custom-control-label">
                   <strong>{{ method.shortName }} - {{method.price | currency}}</strong>
                   <br/>
                   <span class="label-description">{{ method.description }}</span>
                </label>
            </div>
        </ng-container>
        
    </div>
</div>
